{% extends 'website/master.html' %}
{% block extra_css %}
<style>
    .chartWrapper {
        position: relative;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events:none;
    }

    .chartAreaWrapper {
        width: 100%;
        overflow-x: scroll;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container px-5 py-5">
        <section>
            <div class="py-16 lg:items-end lg:justify-between lg:flex sm:px-6 lg:px-8">
                <h2 class="max-w-xl text-2xl font-bold sm:text-3xl">
                    {{ title_page }}
                </h2>
                <a href="{% url 'perangkat:history' object.id %}" class="inline-block px-5 py-3 mt-4 font-medium text-white bg-blue-600 rounded-lg sm:m-0">Lihat Riwayat</a>
            </div>
        </section>
        <div class="relative p-8 text-center border border-gray-200 rounded-lg">
            <div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
                <div>
                    <p class="mt-4 text-sm text-gray-500">
                        Status:
                    </p>
                    <h2 id="lastStatus" class="text-2xl font-medium uppercase">
                        .....
                    </h2>
                </div>
                <div>
                    <p class="mt-4 text-sm text-gray-500">
                        Jarak:
                    </p>
                    <h2 id="lastDistance" class="text-2xl font-medium uppercase">
                        .....
                    </h2>
                </div>
            </div>
        </div>
        <div class="chartWrapper">
            <div class="chartAreaWrapper">
                <canvas id="myChart"></canvas>
                <canvas id="myChartAxis" height="300" width="0"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var waktu;

        const data = {
            labels: [],
            datasets: [{
                label: 'Jarak permukaan air dengan perangkat (cm)',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {},
            animation: {
                onComplete: function() {
                    var sourceCanvas = this.chart.ctx.canvas;
                    var copyWidth = this.scale.xScalePaddingLeft - 5;
                    // the +5 is so that the bottommost y axis label is not clipped off
                    // we could factor this in using measureText if we wanted to be generic
                    var copyHeight = this.scale.endPoint + 5;
                    var targetCtx = document.getElementById("myChartAxis").getContext("2d");
                    targetCtx.canvas.width = copyWidth;
                    targetCtx.drawImage(sourceCanvas, 0, 0, copyWidth, copyHeight, 0, 0, copyWidth, copyHeight);
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function loadContent() {
            var xhr = new XMLHttpRequest();
            var url = "/devices/get-data-series/{{ object.device_id }}";

            xhr.onerror = function () {
                alert("Gagal mengambil data");
            };

            xhr.onloadend = function () {
                if (this.responseText !== "") {
                    var data = JSON.parse(this.responseText);
                    {#console.log(data);#}
                    myChart.data.labels = data.label_series;
                    myChart.data.datasets[0].data = data.data_series;
                    document.getElementById("lastStatus").textContent = data.status;
                    document.getElementById("lastDistance").textContent = data.jarak;
                    waktu = data.waktu;
                    myChart.update();
                }
            };

            xhr.open("GET", url, true);
            xhr.send();
        }

        function getLastData() {
            var xhr = new XMLHttpRequest();
            var url = "/devices/get-last-data/{{ object.device_id }}";

            xhr.onerror = function () {
                alert("Gagal mengambil data");
            };

            xhr.onloadend = function () {
                if (this.responseText !== "") {
                    var data = JSON.parse(this.responseText);
                    console.log(data);
                    myChart.data.labels.push(data.label_series);
                    myChart.data.datasets[0].data.push(data.data_series);
                    document.getElementById("lastStatus").textContent = data.status;
                    document.getElementById("lastDistance").textContent = data.jarak;
                    if(waktu != data.waktu){
                        myChart.update();
                        waktu = data.waktu;
                    }
                }
            };

            xhr.open("GET", url, true);
            xhr.send();
        }

        loadContent();
        setInterval(getLastData, 2000);
    </script>

{% endblock %}