{% extends 'website/master.html' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
    <div class="container px-5 py-5">
        <section>
            <div class="py-16 lg:items-end lg:justify-between lg:flex sm:px-6 lg:px-8">
                <h2 class="max-w-xl text-2xl font-bold sm:text-3xl">
                    {{ title_page }}
                </h2>

                {% include 'perangkat/form_filter.html' %}
            </div>
        </section>

        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {
            labels: [],
            datasets: [{
                label: 'Ketinggian Air',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function loadContent(start, end) {
            var xhr = new XMLHttpRequest();
            var url = "/devices/history/get-data-series/{{ object.device_id }}?start_date="+ start +"&end_date="+ end;

            xhr.onerror = function () {
                alert("Gagal mengambil data");
            };

            xhr.onloadend = function () {
                if (this.responseText !== "") {
                    var data = JSON.parse(this.responseText);
                    console.log(data);
                    myChart.data.labels = data.label_series;
                    myChart.data.datasets[0].data = data.data_series;
                    myChart.update();
                }
            };

            xhr.open("GET", url, true);
            xhr.send();
        }

        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
            loadContent(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'))
          });
        });
    </script>
{% endblock %}